/* Universal Styles 
===================*/

html, body, * {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
    color: #0E0333;
}
* {
    -webkit-tap-highlight-color: transparent;
}

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus::-moz-placeholder { color: transparent; }
input:focus:-ms-input-placeholder { color: transparent; }
input:focus::-ms-input-placeholder { color: transparent; }
input:focus::placeholder { color: transparent; }

a,
.button,
.button-question {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: #02E2AC;
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid #02E2AC;
}

img {
    max-width: 100%;
}

/* fonts */
h1 {
    font-size: 3.3rem; 
    
}

h2, p {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
}

label,
input,
input::placeholder {
    font-size: 1.6rem;
    text-align: center;
    
}

footer,
p {
    text-align: center;
}

p {
    font-size: 2.2rem;
}

h1, 
h2,
p,
input,
label,
.preview,
.announcement,
.footer-telegram {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

.button {
    width: 8em;
    text-align: center;
    padding: 0.75em 0;
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    color: #0E0333;
    background-color: #02E2AC;
    border-radius: 0.4em;
}

.button.large {
    width: fit-content;
    padding: 0.85em 0.9em;
}

@media (hover: hover) {
    .announcement:hover,
    .preview:hover {
        color:#6b36fa;
    }
    .button.green:hover {
        background-color: #02e2aead;
    }
}

.button:active {
    border: 1px solid #0E0333;
}

@media only screen and (max-width:950px) {
    html {
        font-size: 12px;
    }

    h1 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width:710px) {
    h2 {
        font-size: 2.4rem;
    }
}

@media only screen and (max-width:605px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width:506px) {
    h2 {
        font-size: 1.7rem;
    }
}

/* fixed header */
header {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #ffffff; 
    filter: drop-shadow(0px 2px 15px hsla(48, 100%, 50%, 0.5));
}

main {
    position: relative;
    top: 5.2rem;
}

/* Header 
==========*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1.2em 0 0.4em;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    font-style: normal;
}

.logo img {
    width: 4.5rem;
}

nav ul {
    display: flex;
    align-items: center;
}

li:not(:last-child) {
    padding-right: 3em; 
}

/* Hero Section 
=================*/

.hero {
    position: relative;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-content {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.hero-background {
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.hero-logo {
    width: 45%; 
    height: auto;
}

@media only screen and (max-width: 768px) {
    .hero-content {
        text-align: center;
        
        align-items: center;
    }
    
    .hero {
        flex-direction: column-reverse;
    }

    .hero-logo {
        width: 65%;
    }

    .hero-background {
        object-fit: cover;
        object-position: 78% 10%;
        height: 120%;
    }

}

/* Book section 
=================*/

.book {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 0;
}

.book-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 2rem;
}

.book-content h2 {
    padding-bottom: 0.6rem;
}
.book-content .button {
    display: inline-block;
}

.book-content-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.book-button-container:not(:last-child) {
    margin-right: 1.8rem;
}

.price {
    font-size: 1.1rem;
    margin-top: 0.4rem;
}

@media only screen and (max-width: 768px) {
    .book {
        flex-direction: column;
        text-align: center;
        padding: 7% 0;
    }

    .book-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
    }
    
    .book img {
        width: 55%;
    }

    .preview {
        font-size: 1.125rem;
    }
}

/* Podcast section
=================== */

.podcast-background {
    position: relative;
    width: 100%;
    padding-bottom: 59%; 
    height: 0;
    margin-bottom: 5%;
}

.podcast-background .effects {
    position: absolute;
    width: 95%;
    left: 2.5%;
    z-index: 1;
}
.podcast {
    position: absolute;
    top: 5%;
    height: 90%;
    width: 100%;
    background-color: #02E2AC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.podcast-content {
    z-index: 5;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
}

.podcast-content .button {
    background-color: #FFFFFF; 
    color:#0E0333;
}

@media (hover: hover) {
    .podcast-content .button:hover {
        background-color:#dfdede;
    }
}

/* Telegram section 
=================== */
.telegram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem 0;
}


/* Pledge section
==================== */

.pledge {
    padding-top: 5rem;
    position: relative;
    height: max-content;
    background-image: url("../images/pledge-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pledge form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: max-content; 
    margin: auto;
}

form label {
    margin-bottom: 0.8rem;
}
form input {
    font-weight: 600;
    color: #02E2AC;
    background-color: #E6FFF9;
    border: 1px solid #02E2AC;
    padding: 2.5% 4%;
    margin-bottom: 2.4rem;
    width: 30rem;
    transition: border 0.2s ease-out;
}

input::placeholder {
    color: #02E2AC;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 2em;
}

/* form buttons style */

.button-question {
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1rem;
    padding-left: 1em;
    font-weight: 400;
    width: fit-content;
    font-size: 1.25rem;
    text-decoration-line: underline;
    color: #8C65F7;
    background-color: transparent;
    border: none;
}

.button-tweet {
    padding-left: 3em;
    padding-right: 0.5em;
    font-weight: 400;
    background: #02E2AC url('../images/twitter-logo.png') no-repeat left 1em center;
    background-size: 1.6rem;
    color:#FFFFFF;
}

@media (hover: hover) {
    .button-question:hover {
        color: #6b36fa;
    }

    .button-tweet:hover {
        background-color: #04c799;
    }
}

.announcement {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .announcement {
        font-size: 1.125rem;
    }
}

/* footer 
=========== */

footer {
    margin: 7rem 0 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    margin: 0 3rem;
    font-size: 1.5rem;
}

footer img {
    height: 3rem;
}

.footer-telegram {
    color:#6b36fa;
}

@media (hover: hover) {
    .footer-telegram:hover {
        color:#8C65F7;
    }
}

@media only screen and (max-width: 600px) {
    .footer-telegram {
        font-size: 1.125rem;
    }
}